# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\modul3-java\SQL\primaryKey\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
